    <div class="footer-social-box">

        <div class="wrapper">

            <ul class="socials-link clearfix">

                <li><a class="clearfix" href="#"><i class="fa fa-twitter pull-left"></i><span class="pull-left">Twitter</span></a></li>
                <li><a class="clearfix" href="#"><i class="fa fa-facebook pull-left"></i><span class="pull-left">Facebook</span></a></li>
                <li><a class="clearfix" href="#"><i class="fa fa-youtube pull-left"></i><span class="pull-left">Youtube</span></a></li>
                
            </ul>
            <!-- socials-link -->
            
        </div>
        <!-- wrapper -->
        
    </div>
    <!-- footer-social-box -->

    <div id="kopa-page-footer">

        <div class="mask"></div>

        <div id="bottom-sidebar">

            <div class="wrapper">

                <div class="row">

                    <div class="col-md-4 col-sm-4">

                        <div id="footer-logo-image"><a href="index.html"><img alt="" src="placeholders/logo.png"></a></div>

                        <div class="widget widget_text">
                            <p>Proin eu sapien non tortor mattis auctor ac sit amet justo. Aliquam pellentesque odio quis eleifend aliquet. In id sodales dui. Pellentesque ac est risus. Vestibulum elementum elementum massa, ultrices feugiat magna aliquam non. Nullam eu libero quis</p>
                            <p>Aliquam pellentesque odio quis eleifend aliquet. In id sodales dui. Pellentesque ac est risus. Vestibulum elementum elementum massa, ultrices feugiat magna aliquam non. Nullam eu libero quis</p>
                        </div>
                        <!-- widget_text -->
                        
                    </div>
                    <!-- col-md-4 -->

                    <div class="col-md-4 col-sm-4">

                        <div class="widget kopa-twitter-widget">

                            <h2 class="widget-title widget-title-s1">Twitter</h2>

                            <ul class="clearfix">
                                
                                <li>
                                    <article class="tweet-item clearfix">
                                        <div class="tweet-avatar pull-left"><i class="fa fa-twitter"></i></div>
                                        <div class="tweet-detail">
                                            <p>@KIN_HR: We had a fantastic time at in Chicago today! See the photos here:</p>
                                            <a href="#">http://on.fb.me/1mZXa7D</a>
                                            <span class="tweet-time">2 hours ago</span>
                                        </div>
                                    </article>
                                </li>
                                <li>
                                    <article class="tweet-item clearfix">
                                        <div class="tweet-avatar pull-left"><i class="fa fa-twitter"></i></div>
                                        <div class="tweet-detail">
                                            <p>@KIN_HR: We had a fantastic time at in Chicago today! See the photos here:</p>
                                            <a href="#">http://on.fb.me/1mZXa7D</a>
                                            <span class="tweet-time">2 hours ago</span>
                                        </div>
                                    </article>
                                </li>
                                <li>
                                    <article class="tweet-item clearfix">
                                        <div class="tweet-avatar pull-left"><i class="fa fa-twitter"></i></div>
                                        <div class="tweet-detail">
                                            <p>@KIN_HR: We had a fantastic time at in Chicago today! See the photos here:</p>
                                            <a href="#">http://on.fb.me/1mZXa7D</a>
                                            <span class="tweet-time">2 hours ago</span>
                                        </div>
                                    </article>
                                </li>

                            </ul>
                            
                        </div>
                        <!-- kopa-twitter-widget -->
                        
                    </div>
                    <!-- col-md-4 -->

                    <div class="col-md-4 col-sm-4">

                        <div class="widget kopa-flickr-widget">

                            <h2 class="widget-title widget-title-s1">Instagram</h2>

                            <div class="widget-content">
                                <div class="flickr-wrap clearfix" data-user="78715597@N07">
                                    <ul class="clearfix list-unstyled"></ul>
                                </div>
                                <!--flickr-wrap-->
                            </div>
                            <!-- widget-content -->
                            
                        </div>
                        <!-- kopa-flickr-widget -->
                        
                    </div>
                    <!-- col-md-4 -->
                    
                </div>
                <!-- row -->
                
            </div>
            <!-- wrapper -->
        
        </div>
        <!-- bottom-sidebar -->

        <footer id="kopa-footer">

            <div class="wrapper clearfix">

                <p id="copyright" class="pull-left">Copyright © 2015 Kopasoft. All rights reserved.</p>

                <nav id="footer-nav" class="pull-right">

                    <ul id="footer-menu" class="clearfix">
                        <li><a href="#">Rss</a></li>
                        <li><a href="#">your privacy</a></li>
                        <li><a href="#">albums</a></li>
                        <li><a href="#">artist</a></li>
                        <li><a href="#">news</a></li>
                        <li><a href="#">contact</a></li>
                    </ul>
                    <!-- footer-menu -->
                    
                </nav>
                <!-- footer-nav -->

                <p id="back-top">
                    <a href="#top"><i class="fa fa-chevron-up"></i></a>
                </p>
                
            </div>
            <!-- wrapper -->
            
        </footer>
        <!-- kopa-footer -->
        
    </div>